asgiref==3.8.1
cramjam==2.8.3
Django==5.1
django-pandas==0.6.7
et-xmlfile==1.1.0
fastparquet==2024.5.0
fsspec==2024.6.1
gunicorn==23.0.0
numpy==2.1.0
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
psutil==6.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
