{% extends "base.html" %}
{% load static %}

{% block title %}
{% endblock %}
{% block css %}
<link href="{% static 'css/holdings-styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container form-container">
    <h3 class="mb-4 text-center">Holdings...DB</h3>
    <form>
        <div class="form-group">
            <label for="selectPortfolio">Select portfolio</label>
            <select class="form-control" id="selectPortfolio">
                {% for portfolio in portfolios %}
                    {% if portfolio.id %}
                        <option value="{{ portfolio.id }}">{{ portfolio.name }}</option>
                    {% else %}
                        <option>{{ portfolio.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="selectReference">Select reference</label>
            <select class="form-control" id="selectReference">
                <!-- <option>Select reference</option> -->
                {% for portfolio in portfolios reversed %}
                    {% if portfolio.id %}
                        <option value="{{ portfolio.id }}">{{ portfolio.name }}</option>
                    {% else %}
                        <option>{{ portfolio.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="absoluteRelativeSwitch">
                <label class="custom-control-label" for="absoluteRelativeSwitch">Absolute / Relative</label>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="companyContributionSwitch">
                <label class="custom-control-label" for="companyContributionSwitch">Company / Contribution</label>
            </div>
        </div>
    </form>
</div>

<!-- Chart div -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div id="danger-alert" class="alert alert-danger" role="alert" style="visibility: hidden;">
                Something went wrong—check it out!
            </div>

            <div id="chartdiv"></div>

        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/holdings-script.js' %}"></script>
</div>
{% endblock %}
